/* body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.light {
  background-color: #ffffff;
  color: #242424;
}

body.dark {
  background-color: #242424;
  color: #ffffff;
}

.app-container {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
} */
