*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}
